option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: SmartCarteApi.settings.production
    SMARTCARTE_SECRET: secret
    SMARTCARTE_AWS_KEY: access_key
    SMARTCARTE_AWS_SECRET: secret_key
    SMARTCARTE_AWS_ACCOUNT_ID: account_id
    SMARTCARTE_PROD_COGNITO_USERPOOL_ID: userpool_id
    SMARTCARTE_PROD_COGNITO_APP_ID: app_id
    SMARTCARTE_MYSQL_USER: mysql_user
    SMARTCARTE_MYSQL_PASSWORD: mysql_pwd
    SMARTCARTE_MYSQL_HOST: mysql_host
  aws:elasticbeanstalk:container:python:
    WSGIPath: SmartCarteApi.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
